h1 {
  text-align: center;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pokemon {
  height: 100px;
  width: 100px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: cyan;
  border-radius: 10px;
  flex-direction: column;
  gap: 8px;
}

.pokemon span {
  font-family: Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
}