* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  background: aqua;
  color: blue;
  border-radius: 50px;
  max-width: 80vw;
  margin: 0 auto;
}

.container {
  margin: 20px 0 0;
  display: flex;
  /* gap: 10px; */
  /* justify-content: center;
  align-items: center; */
  /* margin: 8px 0; */
  /* width: 100vw; */
}

.panel {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  flex-grow: 1;
  position: relative;
}

.panel h3 {
  font-size: 24px;
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.371);
  padding: 2px 20px;
  border-radius: 15px;
}

.panel.active {
  flex: 10;
  transition: flex 2s;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 1s 2s;
}

@media (max-width: 720px) {
  .panel:nth-of-type(4), 
  .panel:nth-of-type(5) {
    display: none;
  }
}
