* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: blueviolet;
  font-size: 1.6rem;
}

h1 {
  font-size: 4.8rem;
  text-align: center;
  background-color: cyan;
  max-width: 80vw;
  margin: 0 auto 80px;
  border-radius: 30px;
  padding: 0 20px;
}

.search-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  position: relative;
  height: 50px;
}

.input_search {
  border: none;
  border-radius: 15px;
  background: #fff;
  font-size: 1.8rem;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: 0.7s;
}
.icon {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.4rem;
}

.search-box.active .input_search{
  width: 350px;
  /* text-align: center; */
  padding-left: 55px;
}

.icon:focus,
.input_search:focus {
  outline: none;
}

.fa-magnifying-glass {
  color: #ccc;
}
.search-box.active .fa-magnifying-glass {
  color: blueviolet;
  transition: 0.7s;
}